




<div class="div-align" ng-controller="historyController">

	<br><br>
<div class="container-fluid">
	<textarea ng-model = "tweet"class="form-control" placeholder="Here can be your nice text" rows="5"></textarea>
	<button ng-click = "postTweet()" class="btn btn-success btn-round btn-lg">Broadcast</button>
	<br>
	<br>
</div>
	<div>
		<table class="table table-bordered table-hover table-active">
			<tr>
				<th>Email</th>
				<th>Tweet</th>




			</tr>
			<tr ng-repeat="product in allproducts">
				<td>{{product.email}}</td>
				<td>{{product.tweet}}</td>




			</tr>
		</table>

	</div>
</div>
